.custom-arrowSlider {
   position: absolute;
   z-index: 2;
   top: 50%;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   cursor: pointer;
}
.item {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border-radius: 15px;
   line-height: 2;
   cursor: pointer;
   width: 150px !important;
   border: 1px solid #f4f6fa;
   transition: all 0.3s ease-in-out;
}
.item img {
   max-width: 90px;
}
.item:hover {
   border: 1px solid #3bb77e;
   color: #3bb77e !important;
}

.custom-prevSlider {
   right: 80px;
   top: 10px;
   background-color: #f2f3f4;
   color: #7e7e7e;
}

.custom-nextSlider {
   right: 15px;
   top: 10px;
   background-color: #f2f3f4;
   color: #7e7e7e;
}
.paragraph p {
   padding: 0 15px;
   background: none;
   font-size: 18px;
   color: #253d4e;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.paragraph p:hover {
   color: #3bb77e !important;
   margin-bottom: 0.5rem;
}

.custom-prevSlider:hover {
   background-color: #000;
   color: #fff;
}

.custom-nextSlider:hover {
   background-color: #000;
   color: #fff;
}

.react-multi-carousel-dot--active button {
   background-color: #3bb77e !important;
}
.react-multi-carousel-dot button {
   height: 12px !important;
   width: 12px !important;
   border: none !important;
   background-color: #111827;
}

.react-multi-carousel-track {
   transition: transform 0.5s ease;
}
