.newsletter-inner {
   background: url(../../assets/banner-10.png) no-repeat center;
   background-size: cover;
   padding: 15px;
   width: 100%;
   border-radius: 10px;
   overflow: hidden;
   min-height: 400px;
}
.banner-9 img {
   position: absolute;
   right: 50px;
   bottom: 0;
   max-width: 40%;
}
