@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Inter';
   src: url(../src/fonts/Inter-Regular.woff2) format('woff2');
   font-weight: 400;
}

@font-face {
   font-family: 'Inter';
   src: url(../src/fonts/Inter-SemiBold.woff2) format('woff2');
   font-weight: 600;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

a {
   text-decoration: none;
   text-decoration: none;
   display: inline-block;
}
li {
   list-style-type: none;
}

.dark {
   background-color: #1a202c;
   color: #ffffff;
}
