@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Inter';
   src: url(../src/fonts/Inter-Regular.woff2) format('woff2');
   font-weight: 400;
}

@font-face {
   font-family: 'Inter';
   src: url(../src/fonts/Inter-SemiBold.woff2) format('woff2');
   font-weight: 600;
}

* {
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}
.customBoxShadow {
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.commonHeading {
   font-size: 35px;
   font-weight: 600;
}
a {
   text-decoration: none;
   text-decoration: none;
   display: inline-block;
}
li {
   list-style-type: none;
}

.dark {
   background-color: #111827;
   color: #fff;
}

.sub-menu {
   min-width: 250px;
   border-radius: 10px;
   border: 1px solid #ececec;
}
.home_slider {
   padding: 30px 15px;
}
.home_slider_main {
   border-radius: 30px;
   overflow: hidden;
   position: relative;
}
.slick-arrow {
   border-radius: 50% !important;
   background-color: #f2f3f4 !important;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
   color: #111827 !important;
   width: 45px !important;
   height: 45px !important;
   position: absolute !important;
   top: 50% !important;
   transform: translateY(-50%) !important;
   z-index: 1 !important;
   transition: all 0.3s ease;
}
.slick-arrow:hover {
   background-color: #3bb77e !important;
   color: white !important;
}
.dark .slick-arrow {
   background-color: #3bb77e !important;
   color: white !important;
}
.dark .slick-arrow:hover {
   background-color: #f2f3f4 !important;
   color: #111827 !important;
}
.slick-arrow.slick-next {
   right: 2% !important;
}
.slick-arrow.slick-prev {
   left: 2% !important;
}

.slick-dots {
   position: absolute;
   bottom: 30px !important;
}

.slick-dots li button:before {
   font-size: 15px !important;
}

.slick-dots li.slick-active button:before {
   color: #3bb77e !important;
}
.slider-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-72%, -50%);
   text-align: center;
   width: 100%;
   z-index: 1;
}
.slider-content h2 {
   font-size: 72px;
   color: #253d4e;
   font-weight: 700;
   margin-bottom: 20px;
}
.slider-content p {
   font-size: 32px;
   color: #7e7e7e;
   font-weight: 550;
   margin-bottom: 50px;
}
