@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: 'Inter';
   src: url(../src/fonts/Inter-Regular.woff2) format('woff2');
   font-weight: 400;
}

@font-face {
   font-family: 'Inter';
   src: url(../src/fonts/Inter-SemiBold.woff2) format('woff2');
   font-weight: 600;
}

* {
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}
.customBoxShadow {
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.commonHeading {
   font-size: 32px;
   font-weight: 600;
   color: #253d4e;
}
.dark .commonHeading {
   color: #fff;
}
.primary-btn {
   padding: 7px 15px;
   font-size: 16px;
   text-transform: none;
   display: inline-flex;
   flex-wrap: wrap;
   line-height: 1.3;
   border-radius: 4px;
   color: #fff;
   border: 1px solid transparent;
   background-color: #3bb77e;
   transition: all 0.5s linear;
   letter-spacing: 0.5px;
}
.primary-btn:hover {
   background-color: #f5e12e;
   color: #fff;
}
.animate-icon {
   transition: transform 0.5s ease-in-out;
}

.primary-btn:hover .animate-icon {
   transform: translateX(8px);
}
p,
h4,
h5,
h6,
span {
   color: #253d4e;
}
a {
   text-decoration: none;
   text-decoration: none;
   display: inline-block;
}
li {
   list-style-type: none;
}

.dark {
   background-color: #111827;
   color: #fff;
}

.sub-menu {
   min-width: 250px;
   border-radius: 10px;
   border: 1px solid #ececec;
}

.custom-prev {
   left: 15px;
   background-color: #000;
   color: #fff;
}

.custom-next {
   right: 15px;
   background-color: #000;
   color: #fff;
}

.custom-prev:hover {
   background-color: #3bb77e;
   color: white;
}

.custom-next:hover {
   background-color: #3bb77e;
   color: white;
}

.react-multi-carousel-dot--active button {
   background-color: #3bb77e !important;
}
.react-multi-carousel-dot button {
   height: 12px !important;
   width: 12px !important;
   border: none !important;
   background-color: #111827;
}
